body {
	width: 100%;
    background:#fff;
	margin-left:auto;
	margin-right:auto;
}
 
.clearfix:after {
    display:block;
    clear:both;
}
 
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
}
 
.menu {
    width:938px;
    margin:auto;
}
.menu ul {
	background:white;
	transition:.5s;
}

.menu li {
	position:relative;
	transition:.5s;
    margin:0px;
    list-style:none;
    font-family:'Roboto', sans-serif;
	cursor: pointer;
}

.menu a {
	display:block;
	text-decoration:none;
	padding:5px 15px;
	color:#000;
	transition:all linear 0.15s;
}

.menu > ul > li {
    float:left;
    display:block;
    position:relative;
    font-size:15px;
}

.menu ul ul {
	position:absolute;
	left:0;
	top:100%;
	display:none;
	opacity:0;
}

.menu ul ul ul {
	left:100%;
	top:0;
}

.menu li:hover {
	background:#cde;
}

.menu li li:hover {
	background:#def;
}

.menu li li li:hover {
	background:#def;
}

.menu li:hover > ul {
	display:block;
	opacity:1;
}
 
.arrow {
    font-size:11px;
	line-height:0%;
	text-decoration:none;
}
 
/*----- Data Group Menu -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:100%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    background:#fff;
}
 
.sub-menu li {
    display:block;
    font-size:12px;
}
 
.sub-menu li a {
    padding:10px 10px;
    display:block;
}
 
.sub-menu li a:hover {
    background:#def;
}

/*----- Data Menu -----*/
.menu li:hover .scrollable-menu {
    z-index:1;
    opacity:1;
}

.scrollable-menu {
    padding:0;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    background:#fff;
}

.scrollable-menu ul {
  padding:0;
  margin:0;
  background:#fff;
}

.scrollable-menu ul li {
  display:block;
  position:relative;
  background:#fff;
}

.scrollable-menu li {
    display:block;
    font-size:12px;
}

.scrollable-menu li a {
    padding:10px 10px;
    display:block;
}
#map {
	background-color:#9bd8ff;
	border:none;
	position: relative;
	width:100%;
	height : 100%;
}
#globe {
  background-color:#ffffff;
  border:none;
  width:100%;
}

.background {
	fill:none;
	pointer-events:all;
}

#countries, #country1, #country2 {
	fill:#ccaa66;
	stroke:#fff;
	stroke-linejoin:round;
	stroke-linecap:round;
}

#globe1 {
  position: absolute;
  top: 5vh;
  left: 0vw;
}

#globe2 {
  position: absolute;
  top: 5vh;
  left: 50vw;
}

.water {
  fill: #9bd8ff;
  cursor: move;
}

pre.prettyprint {
	border:1px solid #ccc;
	margin-bottom:0;
	padding:9.5px;
}

	
#tooltip {
	margin-left: auto;
	margin-right: auto;
	max-width:800px;
	background:#fff;
	text-align:center;
	font-family:'Roboto', sans-serif;
	font-size:12px;
	position:relative;
}

.left-column {
	float:left;
	width:50%;
}

.right-column {
	float:right;
	width:50%;
}

#legend {
	vertical-align: top;
	width:100%;
}

#table {
	font-family:'Roboto', sans-serif;
}

th {
	background-color: #cde;
}

th, td {
    padding: 15px;
    text-align: left;
}


tr:hover {background-color: #def;}

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #f05d5e; }
.bullet .range.s1 { fill: #f05d5e; }
.bullet .range.s2 { fill: #f05d5e; }
.bullet .measure.s0 { fill: #0f7173; }
.bullet .measure.s1 { fill: #0f7173; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

#c1Title {
	color: #f05d5e;
	top: 8px;
	left: 50px;
}

#c2Title {
	position: absolute;
	top: 8px;
	right: 0px;
	color: #0f7173;
}
